.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app_header_container {
  align-self: flex-start;
  margin-left: calc(100vw - 95%);
  margin-bottom: 24px;
}
.app_header_container .web_header {
  color: white;
  font-size: 32px;
}
.app_header_container .web_sub_header {
  color: white;
  font-size: 16px;
}

.card_box {
  display: flex;
  width: 90%;
  height: 70%;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*
*@Left card style
*/
.card_left_welcome {
  width: 70%;
  height: 100%;
  background: url("../assets/weathorIcon/images/ent_background.png") center
    center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card_left {
  width: 70%;
  height: 100%;
  background: url("../assets/weathorIcon/images/cloudy_background.gif") top
    center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.card_left .card_left_content_box {
  border: 1px solid red;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_left .card_left_charts_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid red;
  align-items: center;
}

.card_left_charts_box .card_left_charts {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  background-color: white;
  opacity: 0.6;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  border-radius: 1em;
}

.card_title {
  display: flex;
  border: 1px solid black;
  align-items: center;
  height: 140px;
}

.card_title .temp {
  font-size: 86px;
  color: white;
}
.card_header .city {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city .city_name {
  font-size: 28px;
  color: white;
  margin-right: 12px;
}
.city .city_time {
  font-size: 18px;
  color: white;
  align-self: bottom;
}

.card_title .weather {
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconlabel {
  color: white;
  font-size: 18px;
  text-align: center;
}

/*
*   Right Card style
*/
.card_right {
  width: 30%;
  height: 100%;
  background: url("../assets/weathorIcon/images/sea-blue.png") no-repeat center
    center;
  background-size: cover;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_right .card_right_content_box {
  border: 1px solid red;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.card_right .input_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
