/*
*   Right Card style
*/
.card_right {
  width: 30%;
  height: 100%;
  background: url("../../../assets/weathorIcon/images/sea-blue.png") no-repeat
    center center;
  background-size: cover;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_right .card_right_content_box {
  border: 1px solid red;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.card_right .input_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card_right .list-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* responsiveness */
@media only screen and (max-width: 1300px) {
  .card_right {
    height: 45%;
    width: 100%;
  }
  .card_right_content_box {
    height: 95% !important;
  }
  .card_right .list-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media only screen and (max-width: 747px) {
  .card_right .list-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .card_right {
    height: 720px;
    width: 100%;
  }
}
